useDynLib(qrmtools, .registration=TRUE, .fixes="C_")


### Imports ####################################################################

import("xts") # for xts namespace to be loaded (e.g., for working with data sets)


### Exports ####################################################################

export(
    ## distributions
    "dGEV", "pGEV", "qGEV", "rGEV",
    "dGPD", "pGPD", "qGPD", "rGPD",
    "dPar", "pPar", "qPar", "rPar",
    ## device
    "dev.off.pdf",
    ## risk measures
    "VaR_t", "ES_t", "VaR_Par", "ES_Par",
    ## worst VaR
    "crude_VaR_bounds", "dual_bound", "VaR_bounds_hom",
    "rearrange", "RA", "ARA"
)

