### Imports ####################################################################

importFrom("xts")


### Exports ####################################################################

export("dGPD", "pGPD", "qGPD", "rGPD",
       "dPar", "pPar", "qPar", "rPar")
